.auth {
	padding: 2rem 0rem;
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
}
.auth-head {
	padding-left: 1rem;
	color: var(--grey);
	font-size: 0.8rem;
	margin-bottom: 0.6rem;
}
.auth-link__register {
	background-color: var(--dark-grey) !important;
	color: var(--white);
}
.auth-link__register:hover {
	background-color: var(--lighter-dark-grey) !important;
}
.auth-link__login {
	background-color: var(--dark-purple);
	color: var(--white);
}
.auth-link__login:hover {
	background-color: var(--lighter-purple);
}
