.home__jobs {
	margin-bottom: 3rem;
}
.home__jobs-head {
	font-size: 1.5rem;
	line-height: 1.5;
	font-weight: 400;
	margin-bottom: 2rem;
	color: var(--light-grey);
}
.home__jobs-grid {
	display: grid;
	gap: 2.5rem 0rem;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
}
