.home__login {
	background: linear-gradient(
			93.99deg,
			rgba(52, 85, 222, 0.2) 1.62%,
			rgba(0, 0, 0, 0) 18.62%
		),
		#1b2028;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2rem 2rem;
	border-radius: 2rem;
	-webkit-border-radius: 2rem;
	-moz-border-radius: 2rem;
	-ms-border-radius: 2rem;
	-o-border-radius: 2rem;
	margin-bottom: 3rem;
}
.home__login-text {
	color: var(--light-grey);
	font-size: 0.9rem;
	font-weight: 300;
	line-height: 1.5;
}
.home__login-links {
	display: flex;
	gap: 1.2rem;
}
.home__login-links__client {
	color: var(--light-grey);
	border: 1px solid var(--dark-purple);
	padding: 1.1rem 1.9rem;
	font-size: 0.8rem;
	box-shadow: 0px 7px 24px rgba(39, 142, 255, 0.23);
	border-radius: 6rem;
	-webkit-border-radius: 6rem;
	-moz-border-radius: 6rem;
	-ms-border-radius: 6rem;
	-o-border-radius: 6rem;
	transition: background-color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out;
	-moz-transition: background-color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out;
	-o-transition: background-color 0.2s ease-in-out;
}
.home__login-links__client:hover {
	background-color: rgba(52, 85, 222, 0.2);
}
.home__login-links__worker {
	color: var(--light-grey);
	background-color: var(--dark-purple);
	border: 1px solid var(--dark-purple);
	padding: 1.1rem 1.9rem;
	font-size: 0.8rem;
	box-shadow: 0px 7px 24px rgba(39, 142, 255, 0.23);
	border-radius: 6rem;
	-webkit-border-radius: 6rem;
	-moz-border-radius: 6rem;
	-ms-border-radius: 6rem;
	-o-border-radius: 6rem;
	transition: background-color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out;
	-moz-transition: background-color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out;
	-o-transition: background-color 0.2s ease-in-out;
}
.home__login-links__worker:hover {
	background-color: var(--lighter-purple);
}
