.job-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 27rem;
	background-color: var(--greyish-blue);
	padding: 1.5rem;
	border-radius: 1.5rem;
	color: var(--light-grey);
}
.job-card__image {
	border-radius: 1rem;
	margin-bottom: 1rem;
}

.job-card__title-block {
	display: flex;
}

.job-card__title {
	display: flex;
	align-items: center;
	font-size: 1.25rem;
	font-weight: 400;
	letter-spacing: 0.05rem;
	margin-bottom: 0.9rem;
}
.job-card__icon {
	margin-right: 0.6rem;
}

.job-card__description {
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.6;
	margin-bottom: 1rem;
}

.job-card__button {
	padding: 1.1rem 2.3rem;
	align-self: flex-start;
}
